body
{
	background-color: #0c1722;
	color:  #F3F6F7;
}	

h1
{
	font-size: 40px;
}

h2
{
	font-size: 25px;
}

#Link
{
    color: WHITE;
}

.full-row
{
    background-color: #212f3c;
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    margin: 20px;
}

.flex-row
{
    display: flex;
    margin: 20px;
}

.flex-item
{
    flex: 1;
    background-color: #212f3c;
    text-align: center;
}